@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@400;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300&family=Rokkitt:wght@200&display=swap');

:root {
    --main-color: #1ebfc1;
}

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    overflow-x: hidden;
}


header {
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;


}

.header {}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    text-align: center;
}

.menu__items ul {
    display: flex;
    list-style: none;
    font-weight: 500;
    transition: 0.3s;

}

.menu__items ul li a {
    text-decoration: none;
    padding-left: 33px;
    color: #333;
    font-size: 16px;
    transition: .3s;


}

.menu__items ul li a:hover,
.su:hover {

    color: #1ebfc1;
    font-size: 17px;
    text-transform: initial;

}

.home {
    font-weight: 600;
}

.si {
    cursor: pointer;
    background-color: transparent;
    padding: 13px 20px;
    border-radius: 6px;
    border: 1px solid #1ebfc1;
    color: #1ebfc1;
    font-size: 15px;
    transition: 0.3s;

}

.su {
    transition: 0.3s;
    background-color: transparent;
    padding: 13px 20px;
    border-radius: 6px;
    border: none;
    font-size: 15px;
}

.si:hover {
    background-color: var(--main-color);
    color: #fff;

}

.banner {

    margin-left: 70px;
    margin-right: 70px;
    justify-content: center;
    display: grid;
    margin-top: 60px;
    grid-template-columns: 526px 776px;
    gap: 10px;

}

.banner__img img {
    width: 800px;

}

.sp__banner {
    display: block;
    margin-top: 120px;
    color: #767e7e;
    font-size: 14px;
}

h2 {
    margin-top: 15px;
    font-weight: 700;
    font-size: 62px;
    line-height: 72px;
}

.text__banner {
    margin-top: 46px;
    color: #9da6a5;
    font-size: 18px;
    line-height: 32px;
    width: 368px;

}

.banner__info {
    margin-left: 20px;
}

.gt {
    margin-top: 50px;
    background: var(--main-color);
    color: #fff;
    font-weight: 600;

    font-size: 18px;
    padding: 20px 41px;
    border-radius: 14px;
    box-shadow: #b9b9b9 0px 1px 10px 0px;
}

.gt:hover {
    background-color: transparent;
    color: var(--main-color);
}

.fa-play {
    color: var(--main-color);
    font-size: 20px;
    padding: 20px;
}

.fa-play:hover {
    color: #fff;
}

.play {
    margin-left: 20px;
    background: transparent;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    transition: 0.3s;
    color: #fff;


}

.play:hover {

    background: var(--main-color);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    color: #fff;
    transition: 0.3s;
}

.contents {

    margin: 0 auto;
    width: 1300px;

}

.hd {
    display: block;
    margin-top: 130px;
    color: #767e7e;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;


}

#hd {
    color: #767e7e;
    font-size: 18x;
    line-height: 27px;
}

/*feature contents*/
.feature__items {

    margin-top: 60px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    margin-left: 20px;
}

.feature h4 {
    margin-top: 18px;
    color: #0d1111;
    font-size: 42px;
    width: 636px;
    margin-bottom: 18px;
}

.item h3 {
    margin-top: 15px;
}

.item span {
    display: block;
    width: 250px;
    color: #9da6a5;
    font-size: 15px;
    margin-top: 15px;
}

.feature {

    margin-left: 20px;
}

/* course */
.course {

    width: 1300px;
    margin: 0 auto;
}

.course__items {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.course__img {
    width: 400px;

    transition: 0.3s;
    border-radius: 10px;
}

.course__img .imgc {
    width: 100%;
    object-fit: cover;
}

.imgc:hover {
    transform: scale(1.1);
    transition: 0.5s;

}

.fee {
    font-weight: bold;
}

.course__text {
    text-align: center;
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    height: 160px;
    width: 300px;
    border-radius: 10px;
    transform: translate(50px, -80px);
    box-shadow: rgba(131, 129, 129, 0.24) 0px 1px 7px;

}

.course__text h2 {
    font-size: 20px;
    color: #0d1111;
}

.course__text ul {
    display: flex;
    list-style: none;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.course__text li {

    padding: 10px;
    font-size: 14px;
}

/* count */
.count__online {

    display: flex;
    justify-content: space-evenly;
    height: 400px;
    font-weight: bold;
    align-items: center;
}

.count__online p {
    font-weight: 400;
    text-align: center;
}

/* 
info wrapper */
.info__wrapper {

    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    background-color: #def6f5;
    height: 250px;
    align-items: center;
}

.text__w p {
    font-size: 42px;
    font-weight: 600;
}

.text__w span {
    font-size: 18px;
    color: #767e7e;
}

.w {
    margin-top: 0;
    box-shadow: none;
}

/* Style footer */
footer {

    margin: auto;
    width: 1300px;


}

.footer__items {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-right: 10px;


}

.footer__info li a {
    text-decoration: none;
    list-style: none;
    color: #535353 !important;
    transition: 0.5s;
}

.footer__info li {
    list-style: none;
    margin-top: 15px;
    transition: 0.3s;

}

.footer__info li:hover {
    font-weight: 500;
}

.title {
    font-weight: 500;
    padding-bottom: 20px;
    font-size: 18px;
}

.cp__footer {
    display: block;
    text-align: center;
    margin-top: 30px;
    padding: 30px;
    font-size: 16px;
    color: #767e7e;


}






.left-to-right {
    transform: translateX(-150%);
}

.left-to-right.start {
    transition: 0.7s ease-in-out;
    transform: translateX(0);
}

.right-to-left {
    transform: translateX(150%);
}

.right-to-left.start {
    transition: 0.7s ease-in-out;
    transform: translateX(0);
}

.zoom {
    transform: scale(0);
}

.zoom.start {
    transition: 0.5s ease-in-out;
    transform: unset;
}